.body{
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    /*display:block;*/
    background-color: blanchedalmond;
}
.kaffeevollautomat_all{
    display:inline-flex;
}
.price{
    color: red;
}
.price_cent{
    vertical-align: top;
    font-size: 10px;
}
