@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
@media(max-width: 600px){
    .seite{
color: rgb(79, 75, 47);
    }
}