.navigation{
  justify-content:space-between;
  align-items: center;
  display:flex;
  background-color: rgba(193, 168, 131, 0.53);
  padding: 15px;
  margin: 0 auto;
}
:root{
  --bs-light-rgb: 227, 207, 181;
}